{% extends 'based_layout.html' %}

{% load static %}

{% load custom_tags %}

{% block titulo %} Home {% endblock titulo %}

{% block title-page %} Profile Organizations  {% endblock title-page %}

{% block css %}
<link rel="stylesheet" href="{% static 'theme/css/volunteer.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'theme/lib/datatables/css/dataTables.bootstrap.min.css' %}" type="text/css"/>
{% endblock css %}

{% block content %}

<div class="be-content">

    <div class="page-head">
        <h2 class="page-head-title" id="profile" data-opcion="inicio"> Followers</h2>
    </div>

    <div class="main-content container-fluid ">
        <div class="row">
            <div class="col-md-7">
                <div class="user-display">
                    <div class="user-display-bg">
                        {% if user.background_image %}
                        <img src="{{ user.background_image.url }}" alt="Profile Background">
                        {% else %}
                        <img src="{% static 'media/bg2.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="user-display-bottom">
                        <div class="user-display-avatar">
                            {% if user.profile_image %}
                            <img src="{{ user.profile_image.url }}" alt=" Avatar">
                            {% else %}
                            <img src="{% static 'media/avatar.png' %}">
                            {% endif %}

                        </div>
                        <div class="user-display-info">
                            <div class="name">
                                {% if user.first_name and user.last_name %}
                                {{ user.first_name }} {{ user.last_name }}
                                {% else %}
                                {{ user.username }}
                                {% endif %}
                            </div>
                            <div class="nick">
                                {% if user.headline %}
                                {{ user.headline }}
                                {% else %}
                                <p>Put your headline</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row user-display-details">
                            <div class="col-xs-4">
                                <a href="{% url 'users:following' user_id=user.id %}">
                                    <div class="title">Following</div>
                                </a>
                                     <div class="counter">{{ user.following.count }}</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="title">Followers</div>
                                <div class="counter">{{ user.followers.count }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="user-display">
                    <div class="user-display-bottom">
                        <div class="row user-display-details">
                            <div class="title">{{ user.followers.count }} users are following you!!</div>
                            {% for relationship in relationships %}
                            <div class="post-header">
                                <a href="{% url 'users:profile' user_id=relationship.from_user.id %}">
                                    {% if relationship.from_user.profile_image %}
                                    <img src="{{ relationship.from_user.profile_image.url }}">
                                    {% else %}
                                    <img src="{% static 'media/avatar.png' %}">
                                    {% endif %}
                                    <span>
                                        {% if relationship.from_user.first_name and relationship.from_user.last_name %}
                                        {{ relationship.from_user.first_name }} {{ relationship.from_user.last_name}}
                                        {% else %}
                                        {{ relationship.from_user.username }}
                                        {% endif %}
                                        <div> {{ relationship.from_user.headline }} </div>
                                    </span>
                                </a>

                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}

{% endblock scripts %}
