{% extends 'based_layout.html' %}

{% load static %}
{% load custom_tags %}

{% block titulo %} Events {% endblock titulo %}
{% block title-page %} Events Management {% endblock title-page %}
{% block css %}
<link rel="stylesheet" href="{% static 'theme/css/volunteer.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'thime/lib/datatables/css/dataTables.bootstrap.min.css' %}" type="text/css" />
<style>
    .card-img-top {
        max-width: 100%;
        height: auto;
    }
</style>

{% endblock css %}

{% block content %}
<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title" id="profile" data-opcion="inicio"> Events </h2>
    </div>

    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                    <div class="container">
                        <div class="row" id="eventCards">
                            <div id="eventCards">
                            {% csrf_token %}
                                {% for event in events %}
                                <div class="col-md-4 mb-4">
                                    <div class="card" data-event-id="{{ event.id }}">
                                        <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ event.title }}</h5>
                                            <p class="card-text">Start Time: {{ event.start_time }}</p>
                                            <p class="card-text">End Time: {{ event.end_time }}</p>
                                            <p class="card-text">Location: {{ event.location }}</p>
                                            <!-- Botón de inscripción -->
                                            {% if event.register_users %}
                                            <button class="btn btn-success" disabled>Registered</button>
                                            {% else %}
                                            <button class="btn btn-primary register-event-btn">Register</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No events found.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
document.body.addEventListener('click', function (event) {
        if (event.target.classList.contains('register-event-btn')) {
            event.preventDefault();
            const eventId = event.target.closest('.card').getAttribute('data-event-id');
            console.log(eventId);
            const registerBtn = event.target
            // Call the register API endpoint
            registerUserForEvent(eventId, registerBtn);
            }
        });
        // Function to register a user for an event
        function registerUserForEvent(eventId, registerBtn) {

            // Your registration logic here
            // You may want to include CSRF token and handle other headers
            fetch(`/event/events/${eventId}/register/`, {
                method: "POST",
                headers: {
                    // Don't set Content-Type for FormData, let the browser set it automatically
                    "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                },
                credentials: 'same-origin'  // Include this if your frontend and backend are on the same domain
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle successful registration
                    alert("Successfully registered for the event!");

                    // Update the button text to "Registered"
                    registerBtn.classList.remove('btn-primary');
                    registerBtn.classList.add('btn-success');
                    registerBtn.textContent = "Registered";
                    registerBtn.disabled = true; // Disable the button after registration
                })
                .catch(error => {
                    console.error("Error registering for the event:", error);
                });
        }
</script>
{% endblock scripts %}