{% load custom_tags %}

<ul class="sidebar-elements nova-sidebar-elements">
    <li class="divider">Menu</li>
    <li id="home">
        <a href="{% url 'home:home' %}">
            <i class="icon mdi mdi-home"></i>
            <span>Home</span>
        </a>
    </li>

        <li class="parent"><a href="#"><i class="icon mdi mdi-money"></i><span>Organizations</span></a>
            <ul class="sub-menu">
                    <li id="My organizations">
                        <a href="{% url 'users:my-organizations' %}">
                            <span>My organizations</span>
                        </a>
                    </li>

                    <li id="Memberships">
                        <a href="{% url 'users:organization-memberships' %}">
                            <span>Memberships</span>
                        </a>
                    </li>

                    <li id="Event Managment">
                        <a href="{% url 'event:events-management' %}">
                            <span>Events</span>
                        </a>
                    </li>
                
                    <li id="Recruitment Managment">
                        <a href="">
                            <span>Recruitment Managment</span>
                        </a>
                    </li>
                

              </ul>
        </li>
  
</ul>