.hidden {
    display: none;
}

.badge-icon {
    width: 50px;   /* or any other size you'd like */
    height: 50px;
    border-radius: 50%;  /* this makes it circular */
    object-fit: cover;   /* this makes sure the image covers the area without distortion */
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: blue;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.image-upload-button {
    display: none;  /* Ocultar por defecto */
    margin-top: 10px;
    font-size: 1em;
    padding: 10px 20px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-upload-form:hover .image-upload-button {
    display: inline-block; /* Mostrar el botón al pasar el ratón por encima */
}

#current-profile-picture, #current-background-image, #current-profile-logo {
    cursor: pointer;
}

input[readonly] {
    background-color: #e9ecef; /* Un color de fondo para indicar que es de solo lectura */
    cursor: pointer; /* Cambiar el cursor para indicar que es seleccionable */
}