

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>My Volunteer Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Volunteer Platform ">
    <meta name="author" content="Team 5">
    <title>{% block titulo %} Sing in {% endblock titulo %}</title>

    <!-- Material Desing Icons -->
    <link rel="stylesheet" href="{% static 'theme/lib/material-design-icons/css/material-design-iconic-font.min.css' %}" type="text/css" />

    <!-- Perfect Scrollbar -->
    <link rel="stylesheet" href="{% static 'theme/lib/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" type="text/css" />

    <!-- Pace -->
    <script src="{% static 'libs/pace/1.0.0/pace.js' %} " type="text/javascript"></script>

    <!-- Select 2 -->
    <link rel="stylesheet" href="{% static 'libs/select2/4.0.3/dist/css/select2.min.css' %}"/>

    <!-- Main Theme CSS -->
    <link rel="stylesheet" href="{% static 'theme/css/style.css' %}" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="be-splash-screen">
    {% block content %}

    <div class="be-wrapper be-login">
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="splash-container">

                    <div class="panel panel-default panel-border-color nova-border-top-pantone">
                        <div class="panel-heading">
                            <img src="{% static 'media/logo.png' %}" alt="VolunteerConnect" width="320" height="120" class="logo-img">
                            <span class="splash-description"><strong>1.0</strong></span>
    
                        </div>
                        <div class="panel-body">
                            <form  method="POST" action=""> 
                              {% csrf_token %}
                                <div class="form-group">
                                    <input id="username" type="text" name="username" placeholder="User" autocomplete="off" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="password" type="password" name="password" placeholder="Password" class="form-control">
                                </div>
                                {% if error %}
                                <p><strong>{{ error }}</strong></p>
                              {% endif %}
            
                                <div class="form-group login-submit">
                                    <button data-dismiss="modal" type="submit" class="btn">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="splash-footer">
                        <span><a href="{% url 'users:forgot-password' %}">¿Forgot your password?</a></span>
                        <br>
                        <div class="hidden">
                            ¿User?
                        </div>
                        <span> <a href="{% url 'users:sign-up' %}">Sing up</a></span>
                    </div>


                                          <div class="col-md-12 text-center vertical-center">
                        <!--<h2>Login</h2>-->
                        
                                <form class="center-form">            
                                <div class="col-md-8">                     
                                  

                             
                                  <div class="col-md-12 text-center"><!--<button type="button" class="button text-white m-3">Login</button>-->
                                  <!--button onclick="signIn()" class="googlebutton">SignIn with Google</button-->
                                  <img src="{% static 'media/rsz_gsign1.png' %}" onclick="signIn()" style="margin-bottom: 20px;"/></div>
                                  
                                </div>
                                </form>
                                  <script>
                                      function signIn(){
                let oauth2Endpoint = "https://accounts.google.com/o/oauth2/v2/auth"
            
                let form = document.createElement('form')
                form.setAttribute('method','GET')
                form.setAttribute('action',oauth2Endpoint)
            
                let params = {
                    "client_id": "786983586520-r34hhvra29es4m5ligmese3ekhmauolp.apps.googleusercontent.com",
                    "redirect_uri":"http://127.0.0.1:8000/home/",
                    "response_type":"token",
                    "scope": "https://www.googleapis.com/auth/userinfo.profile",
                    "include_granted_scopes":'true',
                    "state": "pass-through-value"
                }
                for(var p in params){
                    let input = document.createElement('input')
                    input.setAttribute('type','hidden')
                    input.setAttribute('name',p)
                    input.setAttribute('value',params[p])
                    form.appendChild(input)
                }
            
                document.body.appendChild(form)
                form.submit()
            
                                      }
            
                                  </script>
                           
                        
                    </div>      

                    
                    <br>
                    <div role="alert" class="alert alert-primary alert-icon alert-dismissible">
                        <div class="icon"><span class="mdi mdi-info-outline"></span></div>
                        <div class="message text-center">
                            <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                                <span aria-hidden="true" class="mdi mdi-close"></span>
                            </button>
                            <strong>Link: </strong><a href="">Help</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    <!-- jQuery -->
    <script src="{% static 'theme/lib/jquery/jquery.min.js' %}" type="text/javascript"></script>

    <!-- Bootstrap-->
    <script src="{% static 'theme/lib/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!-- Perfect Scrollbar -->
    <script src="{% static 'theme/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>

    <!-- Pace -->
    <script src="{% static 'libs/pace/1.0.0/pace.js' %} " type="text/javascript"></script>

    <!-- Moment -->
    <script src="{% static 'libs/momentjs/2.18.1/moment.js' %}"></script>

    <!-- Pace -->
    <script src="{% static 'libs/pace/1.0.0/pace.js' %} " type="text/javascript"></script>

    <!-- Select 2 -->
    <script src="{% static 'libs/select2/4.0.3/dist/js/select2.min.js' %}"></script>

    <!-- Main Theme js -->
    <script src="{% static 'theme/js/main.js' %}"></script>


    <script type="text/javascript">
        $(document).ready(function(){
    	   //initialize the javascript
    	   App.init();
        });
    </script>

  </body>
</html>
