{% extends 'based_layout.html' %}

{% load static %}
{% load custom_tags %}

{% block titulo %} Home {% endblock titulo %}

{% block title-page %} My Organizations {% endblock title-page %}

{% block css %}
<link rel="stylesheet" href="{% static 'theme/css/volunteer.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'thime/lib/datatables/css/dataTables.bootstrap.min.css' %}" type="text/css"/>
{% endblock css %}

{% block content %}

<div class="be-content">
    <div class="page-head">
       <h2 class="page-head-title" id="profile" data-opcion="inicio"> My Organizations</h2>
    </div>

    <div class="main-content container-fluid ">
       <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="tools dropdown"><span class="icon mdi mdi-download"></span><a href="#" type="button" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false"><span class="icon mdi mdi-more-vert"></span></a>
                            <ul role="menu" class="dropdown-menu pull-right">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                         </div>
                         <button type="button" id="add-button" class="btn btn-space btn-primary">New</button>
                    </div>
                     <!-- Modal for adding new organization -->
                    <div id="addOrganizationModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">New Organization</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <form id="organizationForm">
                                {% csrf_token %}
                                <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" required>
                                </div>
                                <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" required></textarea>
                                </div>
                                <!-- Similar inputs for email, phone, website -->
                                <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" required>
                                </div>
                                <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" required>
                                </div>
                                <div class="form-group">
                                <label for="website">Website</label>
                                <input type="url" class="form-control" id="website">
                                </div>
                            </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="saveOrganization">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="table1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                            <table id="organizationTable" class="table table-striped table-hover table-fw-widget dataTable no-footer" role="grid" aria-describedby="table1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_desc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 86px;" aria-sort="descending">Name</th>
                                        <th>Description</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Website</th>
                                        <th>Location</th>
                                        <th>Interests</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for organization in organizations %}
                                        <tr>
                                            <td class="user-avatar cell-detail user-info">
                                                <a href="{% url 'users:profile-organization' pk=organization.id %}">
                                                    {% if organization.logo %}
                                                        <img src="{{ organization.logo.url }}" alt="{{ organization.name }}" >
                                                    {% else %}
                                                        <img src="{% static 'theme/img/logo-default.png' %}" alt="Default Logo">
                                                    {% endif %}
                                                    {{ organization.name }}
                                                </a>
                                            </td>
                                            <td>{{ organization.description }}</td>
                                            <td>{{ organization.email }}</td>
                                            <td>{{ organization.phone }}</td>
                                            <td><a href="{{ organization.website }}" target="_blank">{{ organization.website }}</a></td>
                                            <td>{{ organization.location }}</td>
                                            <td>{{ organization.interests_list }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr><td colspan="7">No organizations found.</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>  
                </div>
             </div>           
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>

document.addEventListener("DOMContentLoaded", function() {
    
 // New
document.getElementById("add-button").addEventListener("click", function() {
    $("#addOrganizationModal").modal("show");
});

document.getElementById("saveOrganization").addEventListener("click", function() {
    let website = document.getElementById("website").value;
    if (!website.startsWith('http://') && !website.startsWith('https://')) {
       website = 'http://' + website;
    }

    const data = {
        name: document.getElementById("name").value,
        description: document.getElementById("description").value,
        email: document.getElementById("email").value,
        phone_number: document.getElementById("phone").value,
        website: document.getElementById("website").value
        
    };

    fetch("/organizations/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
         "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
        },
        body: JSON.stringify(data)
    })
    .then(response => {
    if (!response.ok) {
        return response.json().then(error => {
            console.error("Error details:", error);
            throw new Error("Network response was not ok");
        });
    }
    return response.json(); 
    })
    .then(data => {
        $("#addOrganizationModal").modal("hide");
        // Update your table here with the newly created organization
        location.reload();
    })
    .catch(error => {
        console.error("There was a problem with the fetch operation:", error);
    });
  });
});
</script>
{% endblock scripts %}
