{% extends 'based_layout.html' %}

{% load static %}

{% load custom_tags %}

{% block titulo %} Home {% endblock titulo %}

{% block title-page %} Profile Organizations  {% endblock title-page %}

{% block css %}
<link rel="stylesheet" href="{% static 'theme/css/volunteer.css' %}" type="text/css"/>
{% endblock css %}

{% block content %}

<div class="be-content">

    <div class="page-head">
       <h2 class="page-head-title" id="profile" data-opcion="inicio">Profile Volunteer</h2>
    </div>

    <div class="main-content container-fluid ">
       <div class="row">
              <div class="col-md-7">
                <div class="user-display">
                  <div class="user-display-bg"><img src="{% static 'theme/img/user-profile-display.png' %}" alt="Profile Background"></div>
                  <div class="user-display-bottom">
                    <div class="user-display-avatar"><img src="{% static 'theme/img/avatar-150.png' %}" alt="Avatar"></div>
                    <div class="user-display-info">
                      <div class="name">{{ volunteer.user.username }} </div>
                      <div class="nick"> </div>
                    </div>
                    <div class="row user-display-details">
                      <div class="col-xs-4">
                        <div class="title">Issues</div>
                        <div class="counter">26</div>
                      </div>
                      <div class="col-xs-4">
                        <div class="title">Commits</div>
                        <div class="counter">26</div>
                      </div>
                      <div class="col-xs-4">
                        <div class="title">Followers</div>
                        <div class="counter">26</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="user-info-list panel panel-default">
                  <div class="panel-heading panel-heading-divider">Bio<span class="panel-subtitle">{{ volunteer.bio}}</span></div>
                  <div class="panel-body">
                 
                    <table class="no-border no-strip skills">
                      <tbody class="no-border-x no-border-y">
                          <tr>
                              <!-- Aquí asumí que el modelo User al que está vinculado Volunteer tiene fields first_name y last_name -->
                              <td class="icon"><span class="mdi mdi-case"></span></td>
                              <td class="item">Name<span class="icon s7-portfolio"></span></td>
                              <td>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</td>
                          </tr>
                          <tr>
                              <td class="icon"><span class="mdi mdi-cake"></span></td>
                              <td class="item">Birthday<span class="icon s7-gift"></span></td>
                              <td>{{ volunteer.date_of_birth }}</td>
                          </tr>
                          <tr>
                              <td class="icon"><span class="mdi mdi-smartphone-android"></span></td>
                              <td class="item">Phone<span class="icon s7-phone"></span></td>
                              <td>{{ volunteer.phone_number }}</td>
                          </tr>
                          <tr>
                              <td class="icon"><span class="mdi mdi-globe-alt"></span></td>
                              <td class="item">Location<span class="icon s7-map-marker"></span></td>
                              <td>{{ volunteer.location }}</td>
                          </tr>
                          <!-- Agrega otros campos según lo requieras -->
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="user-info-list panel panel-default">
                  <div class="panel-heading panel-heading-divider">Skills
                  </div>
                  <div class="panel-body">
                    
                    <table class="no-border no-strip skills">
                      <tbody class="no-border-x no-border-y">
                        {% for skill in volunteer.skills.all %}
                          <tr>
                              <td><span class="icon s7-portfolio">{{ skill.name}}</span> </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  
                  </div>
                </div>
                <div class="user-info-list panel panel-default">
                  <div class="panel-heading panel-heading-divider">Badges</div>
                  <div class="panel-body">
                 
                    <table class="no-border no-strip skills">
                      <tbody class="no-border-x no-border-y">
                        {% for badge in volunteer.badges.all %}
                          <tr>
                              <td> <img src="{{ badge.image.url }}" alt="{{ badge.name }}" class="badge-icon"> {{ badge.name }} </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div
     </div>
</div>


{% endblock content %}
