.k-grid {
	font-size: 12px;
	border-radius: 0 !important;
}

.k-grid-header {
	border-bottom-style: none !important;
}

.k-reset{
	line-height: 2.0em !important;
}

.k-link > input {
    margin-right: 5px;
}

.panel-table tr td:first-child {
	padding-left: 1em;
}

.nova-grid-empy {
	font-size: 32px;
	text-align: center;
	font-family: Helvetica Neue !important, sans-serif;
}

.nova-k-btn-editar {
    background-color: #E58821 !important;
    color: white !important;
    width: 5px !important;
}

.k-grid-norecords {
	border-top: 1px solid #d4d4d4;
}
.nova-grid-fix-static{
	height: auto !important;
}